@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvertaStd-All';
  src: url('/fonts/AvertaStd-Regular.ttf') format('truetype'),
       url('/fonts/AvertaStd-Bold.ttf') format('truetype'),
       url('/fonts/AvertaStd-Light.ttf') format('truetype'),
       url('/fonts/AvertaStd-Medium.ttf') format('truetype'),
       url('/fonts/AvertaStd-Semibold.ttf') format('truetype'),
       url('/fonts/AvertaStd-Thin.ttf') format('truetype');
  font-weight: normal 300 500 600 bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

html, body, #__next {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: overlay;
  font-family: 'AvertaStd-All', sans-serif !important;
}
.rec-arrow-right, .rec-arrow-right:hover, .rec-arrow-right:enabled{background-color: #8717F8 !important; color: #fff !important; font-family: 'Averta-All', sans-serif !important;}
.rec-arrow-left, .rec-arrow-left:hover, .rec-arrow-left:enabled {background-color: #8717F8 !important; color: #fff !important; font-family: 'Averta-All', sans-serif !important;}
.home-carousel .rec-arrow-right, .home-carousel .rec-arrow-right:hover, .home-carousel .rec-arrow-right:enabled {position: absolute; right: 36px; z-index: 20;}
.home-carousel .rec-arrow-left, .home-carousel .rec-arrow-left:hover, .home-carousel .rec-arrow-left:enabled {position: absolute; left: 36px; z-index: 20;}

.carousel-programe .rec-arrow-right, .carousel-programe .rec-arrow-right:hover, .carousel-programe .rec-arrow-right:enabled {position: absolute; z-index: 20;right: 15px;}
.carousel-programe .rec-arrow-left, .carousel-programe .rec-arrow-left:hover, .carousel-programe .rec-arrow-left:enabled {position: absolute; z-index: 20; left: 15px;}

.rec-dot {box-shadow: 0 0 1px 2px rgb(216 166 255) !important;}
.rec-dot_active {background-color: #8717F8 !important; box-shadow: none !important; width: 15px !important; height: 15px !important;}
.rec-item-wrapper {overflow: inherit !important;}
.rec-pagination {align-items: center !important;}
.rec-slider-container {overflow-y: visible !important; overflow-x: clip !important;}

.filter-brightness {filter: brightness(0.3);}
.filter-brightness-5 {filter: brightness(0.5)}
.filter-backdrop {
  backdrop-filter: brightness(0.5);
}