.cookie p.p2 {
  margin: 0.0px 0.0px 0.0px 36.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p3 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

p.p4 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p5 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p7 {
  margin: 0.0px 0.0px 0.0px 36.0px;
  font: 12.0px Times;
  color: #cc3366;
  min-height: 14.0px
}

li.li1 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

li.li3 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

li.li6 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #cc3366
}

span.s1 {
  text-decoration: underline
}

ul.ul1 {
  list-style-type: disc
}

p.p2 {
  margin: 0.0px 0.0px 0.0px 36.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p3 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

p.p4 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p5 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #090909;
  min-height: 14.0px
}

p.p7 {
  margin: 0.0px 0.0px 0.0px 36.0px;
  font: 12.0px Times;
  color: #cc3366;
  min-height: 14.0px
}

li.li1 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

li.li3 {
  margin: 0.0px 0.0px 5.0px 0.0px;
  font: 12.0px Times;
  color: #090909
}

li.li6 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Times;
  color: #cc3366
}

span.s1 {
  text-decoration: underline
}

ul.ul1 {
  list-style-type: disc
}